accelerate==1.3.0 ; python_version >= "3.12" and python_version < "3.13"
aiohappyeyeballs==2.4.4 ; python_version >= "3.12" and python_version < "3.13"
aiohttp==3.11.11 ; python_version >= "3.12" and python_version < "3.13"
aiosignal==1.3.2 ; python_version >= "3.12" and python_version < "3.13"
annotated-types==0.7.0 ; python_version >= "3.12" and python_version < "3.13"
anyio==4.8.0 ; python_version >= "3.12" and python_version < "3.13"
attrs==25.1.0 ; python_version >= "3.12" and python_version < "3.13"
authlib==1.3.1 ; python_version >= "3.12" and python_version < "3.13"
beautifulsoup4==4.12.3 ; python_version >= "3.12" and python_version < "3.13"
cbor==1.0.0 ; python_version >= "3.12" and python_version < "3.13"
certifi==2025.1.31 ; python_version >= "3.12" and python_version < "3.13"
cffi==1.17.1 ; python_version >= "3.12" and python_version < "3.13" and platform_python_implementation != "PyPy"
charset-normalizer==3.4.1 ; python_version >= "3.12" and python_version < "3.13"
click==8.1.8 ; python_version >= "3.12" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "3.13" and platform_system == "Windows"
cryptography==44.0.0 ; python_version >= "3.12" and python_version < "3.13"
datasets==2.19.0 ; python_version >= "3.12" and python_version < "3.13"
deepsearch-glm==1.0.0 ; python_version >= "3.12" and python_version < "3.13"
dill==0.3.8 ; python_version >= "3.12" and python_version < "3.13"
docling-core==2.16.1 ; python_version >= "3.12" and python_version < "3.13"
docling-ibm-models==3.1.0 ; python_version >= "3.12" and python_version < "3.13" and sys_platform == "darwin" and platform_machine == "x86_64"
docling-ibm-models==3.3.0 ; python_version >= "3.12" and python_version < "3.13" and sys_platform != "darwin" or python_version >= "3.12" and python_version < "3.13" and platform_machine != "x86_64"
docling-parse==3.1.2 ; python_version >= "3.12" and python_version < "3.13"
docling==2.15.1 ; python_version >= "3.12" and python_version < "3.13"
easyocr==1.7.2 ; python_version >= "3.12" and python_version < "3.13"
et-xmlfile==2.0.0 ; python_version >= "3.12" and python_version < "3.13"
fastapi==0.115.8 ; python_version >= "3.12" and python_version < "3.13"
filelock==3.17.0 ; python_version >= "3.12" and python_version < "3.13"
filetype==1.2.0 ; python_version >= "3.12" and python_version < "3.13"
flagembedding==1.3.3 ; python_version >= "3.12" and python_version < "3.13"
frozenlist==1.5.0 ; python_version >= "3.12" and python_version < "3.13"
fsspec==2024.3.1 ; python_version >= "3.12" and python_version < "3.13"
grpcio-health-checking==1.70.0 ; python_version >= "3.12" and python_version < "3.13"
grpcio-tools==1.70.0 ; python_version >= "3.12" and python_version < "3.13"
grpcio==1.70.0 ; python_version >= "3.12" and python_version < "3.13"
h11==0.14.0 ; python_version >= "3.12" and python_version < "3.13"
httpcore==1.0.7 ; python_version >= "3.12" and python_version < "3.13"
httpx==0.28.1 ; python_version >= "3.12" and python_version < "3.13"
huggingface-hub==0.28.1 ; python_version >= "3.12" and python_version < "3.13"
idna==3.10 ; python_version >= "3.12" and python_version < "3.13"
ijson==3.3.0 ; python_version >= "3.12" and python_version < "3.13"
imageio==2.37.0 ; python_version >= "3.12" and python_version < "3.13"
inscriptis==2.5.3 ; python_version >= "3.12" and python_version < "3.13"
ir-datasets==0.5.9 ; python_version >= "3.12" and python_version < "3.13"
jinja2==3.1.5 ; python_version >= "3.12" and python_version < "3.13"
joblib==1.4.2 ; python_version >= "3.12" and python_version < "3.13"
jsonlines==3.1.0 ; python_version >= "3.12" and python_version < "3.13"
jsonref==1.1.0 ; python_version >= "3.12" and python_version < "3.13"
jsonschema-specifications==2024.10.1 ; python_version >= "3.12" and python_version < "3.13"
jsonschema==4.23.0 ; python_version >= "3.12" and python_version < "3.13"
lazy-loader==0.4 ; python_version >= "3.12" and python_version < "3.13"
lxml==5.3.0 ; python_version >= "3.12" and python_version < "3.13"
lz4==4.4.3 ; python_version >= "3.12" and python_version < "3.13"
markdown-it-py==3.0.0 ; python_version >= "3.12" and python_version < "3.13"
marko==2.1.2 ; python_version >= "3.12" and python_version < "3.13"
markupsafe==3.0.2 ; python_version >= "3.12" and python_version < "3.13"
mdurl==0.1.2 ; python_version >= "3.12" and python_version < "3.13"
mpire==2.10.2 ; python_version >= "3.12" and python_version < "3.13"
mpmath==1.3.0 ; python_version >= "3.12" and python_version < "3.13"
multidict==6.1.0 ; python_version >= "3.12" and python_version < "3.13"
multiprocess==0.70.16 ; python_version >= "3.12" and python_version < "3.13"
networkx==3.4.2 ; python_version >= "3.12" and python_version < "3.13"
ninja==1.11.1.3 ; python_version >= "3.12" and python_version < "3.13"
numpy==2.2.2 ; python_version >= "3.12" and python_version < "3.13"
nvidia-cublas-cu12==12.4.5.8 ; python_version >= "3.12" and python_version < "3.13" and platform_machine == "x86_64" and platform_system == "Linux"
nvidia-cuda-cupti-cu12==12.4.127 ; python_version >= "3.12" and python_version < "3.13" and platform_machine == "x86_64" and platform_system == "Linux"
nvidia-cuda-nvrtc-cu12==12.4.127 ; python_version >= "3.12" and python_version < "3.13" and platform_machine == "x86_64" and platform_system == "Linux"
nvidia-cuda-runtime-cu12==12.4.127 ; python_version >= "3.12" and python_version < "3.13" and platform_machine == "x86_64" and platform_system == "Linux"
nvidia-cudnn-cu12==9.1.0.70 ; python_version >= "3.12" and python_version < "3.13" and platform_machine == "x86_64" and platform_system == "Linux"
nvidia-cufft-cu12==11.2.1.3 ; python_version >= "3.12" and python_version < "3.13" and platform_machine == "x86_64" and platform_system == "Linux"
nvidia-curand-cu12==10.3.5.147 ; python_version >= "3.12" and python_version < "3.13" and platform_machine == "x86_64" and platform_system == "Linux"
nvidia-cusolver-cu12==11.6.1.9 ; python_version >= "3.12" and python_version < "3.13" and platform_machine == "x86_64" and platform_system == "Linux"
nvidia-cusparse-cu12==12.3.1.170 ; python_version >= "3.12" and python_version < "3.13" and platform_machine == "x86_64" and platform_system == "Linux"
nvidia-cusparselt-cu12==0.6.2 ; python_version >= "3.12" and python_version < "3.13" and platform_machine == "x86_64" and platform_system == "Linux"
nvidia-nccl-cu12==2.21.5 ; python_version >= "3.12" and python_version < "3.13" and platform_machine == "x86_64" and platform_system == "Linux"
nvidia-nvjitlink-cu12==12.4.127 ; python_version >= "3.12" and python_version < "3.13" and platform_machine == "x86_64" and platform_system == "Linux"
nvidia-nvtx-cu12==12.4.127 ; python_version >= "3.12" and python_version < "3.13" and platform_machine == "x86_64" and platform_system == "Linux"
ollama==0.4.7 ; python_version >= "3.12" and python_version < "3.13"
opencv-python-headless==4.11.0.86 ; python_version >= "3.12" and python_version < "3.13"
openpyxl==3.1.5 ; python_version >= "3.12" and python_version < "3.13"
packaging==24.2 ; python_version >= "3.12" and python_version < "3.13"
pandas==2.2.3 ; python_version >= "3.12" and python_version < "3.13"
peft==0.14.0 ; python_version >= "3.12" and python_version < "3.13"
pillow==10.4.0 ; python_version >= "3.12" and python_version < "3.13"
propcache==0.2.1 ; python_version >= "3.12" and python_version < "3.13"
protobuf==5.29.3 ; python_version >= "3.12" and python_version < "3.13"
psutil==6.1.1 ; python_version >= "3.12" and python_version < "3.13"
pyarrow-hotfix==0.6 ; python_version >= "3.12" and python_version < "3.13"
pyarrow==19.0.0 ; python_version >= "3.12" and python_version < "3.13"
pyclipper==1.3.0.post6 ; python_version >= "3.12" and python_version < "3.13"
pycparser==2.22 ; python_version >= "3.12" and python_version < "3.13" and platform_python_implementation != "PyPy"
pydantic-core==2.27.2 ; python_version >= "3.12" and python_version < "3.13"
pydantic-settings==2.7.1 ; python_version >= "3.12" and python_version < "3.13"
pydantic==2.10.6 ; python_version >= "3.12" and python_version < "3.13"
pygments==2.19.1 ; python_version >= "3.12" and python_version < "3.13"
pymupdf==1.25.2 ; python_version >= "3.12" and python_version < "3.13"
pypdfium2==4.30.1 ; python_version >= "3.12" and python_version < "3.13"
python-bidi==0.6.3 ; python_version >= "3.12" and python_version < "3.13"
python-dateutil==2.9.0.post0 ; python_version >= "3.12" and python_version < "3.13"
python-docx==1.1.2 ; python_version >= "3.12" and python_version < "3.13"
python-dotenv==1.0.1 ; python_version >= "3.12" and python_version < "3.13"
python-pptx==1.0.2 ; python_version >= "3.12" and python_version < "3.13"
pytz==2025.1 ; python_version >= "3.12" and python_version < "3.13"
pywin32==307 ; python_version >= "3.12" and python_version < "3.13" and platform_system == "Windows" or python_version >= "3.12" and python_version < "3.13" and sys_platform == "win32"
pyyaml==6.0.2 ; python_version >= "3.12" and python_version < "3.13"
referencing==0.36.2 ; python_version >= "3.12" and python_version < "3.13"
regex==2024.11.6 ; python_version >= "3.12" and python_version < "3.13"
requests==2.32.3 ; python_version >= "3.12" and python_version < "3.13"
rich==13.9.4 ; python_version >= "3.12" and python_version < "3.13"
rpds-py==0.22.3 ; python_version >= "3.12" and python_version < "3.13"
rtree==1.3.0 ; python_version >= "3.12" and python_version < "3.13"
safetensors==0.5.2 ; python_version >= "3.12" and python_version < "3.13"
scikit-image==0.25.1 ; python_version >= "3.12" and python_version < "3.13"
scikit-learn==1.6.1 ; python_version >= "3.12" and python_version < "3.13"
scipy==1.15.1 ; python_version >= "3.12" and python_version < "3.13"
semchunk==2.2.2 ; python_version >= "3.12" and python_version < "3.13"
sentence-transformers==3.4.1 ; python_version >= "3.12" and python_version < "3.13"
sentencepiece==0.2.0 ; python_version >= "3.12" and python_version < "3.13"
setuptools==75.8.0 ; python_version >= "3.12" and python_version < "3.13"
shapely==2.0.7 ; python_version >= "3.12" and python_version < "3.13"
shellingham==1.5.4 ; python_version >= "3.12" and python_version < "3.13"
six==1.17.0 ; python_version >= "3.12" and python_version < "3.13"
sniffio==1.3.1 ; python_version >= "3.12" and python_version < "3.13"
soupsieve==2.6 ; python_version >= "3.12" and python_version < "3.13"
starlette==0.45.3 ; python_version >= "3.12" and python_version < "3.13"
sympy==1.13.1 ; python_version >= "3.12" and python_version < "3.13"
tabulate==0.9.0 ; python_version >= "3.12" and python_version < "3.13"
tenacity==9.0.0 ; python_version >= "3.12" and python_version < "3.13"
threadpoolctl==3.5.0 ; python_version >= "3.12" and python_version < "3.13"
tifffile==2025.1.10 ; python_version >= "3.12" and python_version < "3.13"
tokenizers==0.19.1 ; python_version >= "3.12" and python_version < "3.13"
torch==2.6.0 ; python_version >= "3.12" and python_version < "3.13"
torchvision==0.21.0 ; python_version >= "3.12" and python_version < "3.13"
tqdm==4.67.1 ; python_version >= "3.12" and python_version < "3.13"
transformers==4.44.2 ; python_version >= "3.12" and python_version < "3.13"
trec-car-tools==2.6 ; python_version >= "3.12" and python_version < "3.13"
triton==3.2.0 ; python_version >= "3.12" and python_version < "3.13" and platform_machine == "x86_64" and platform_system == "Linux"
typer==0.12.5 ; python_version >= "3.12" and python_version < "3.13"
typing-extensions==4.12.2 ; python_version >= "3.12" and python_version < "3.13"
tzdata==2025.1 ; python_version >= "3.12" and python_version < "3.13"
unlzw3==0.2.3 ; python_version >= "3.12" and python_version < "3.13"
urllib3==2.3.0 ; python_version >= "3.12" and python_version < "3.13"
uvicorn==0.34.0 ; python_version >= "3.12" and python_version < "3.13"
validators==0.34.0 ; python_version >= "3.12" and python_version < "3.13"
warc3-wet-clueweb09==0.2.5 ; python_version >= "3.12" and python_version < "3.13"
warc3-wet==0.2.5 ; python_version >= "3.12" and python_version < "3.13"
weaviate-client==4.10.4 ; python_version >= "3.12" and python_version < "3.13"
xlsxwriter==3.2.2 ; python_version >= "3.12" and python_version < "3.13"
xxhash==3.5.0 ; python_version >= "3.12" and python_version < "3.13"
yarl==1.18.3 ; python_version >= "3.12" and python_version < "3.13"
zlib-state==0.1.9 ; python_version >= "3.12" and python_version < "3.13"
